.about {
    margin: 6.25rem auto;
    width: 95%;
    justify-content: space-evenly;
  }
.about-left {
   flex-basis: 40%;
   position: relative;
}
.about-right {
  flex-basis: 50%;
}
.about-right .titles{
  margin: 20px 0;
  text-align: left;
}

.about-picture {
    width: 100%;
    border-radius: 20px;
}
.play-button {
  width: 4.75rem;
  position: absolute;
  left: 50%;
  top: 50%;
  cursor: pointer;
  transform: translate(-50%, -50%);
}
.about-right .title {
   font-weight: 600;
   font-size: 1.5rem;
   color: #212ea0;
   text-align: justify;
}

.about-right .title-heading {
  font-size: 2.5rem;
  margin: 0.8rem 0;
  color: #000f38;
  max-width: 45rem;
  text-align: left;
}

.description p {
  font-size: 1rem !important;
  color: #676767;
  margin-bottom: 0.5rem;
  text-align: justify;
}
  
  
  @media (max-width: 900px) {
    .about {
      flex-direction: column;
    }
    .about-left {
      width: 90%;
      margin: 0 auto;
      margin-top: 2rem;
    }
  }
  