.gallery {
    gap: 20px;
    width: 90%;
    margin: 6vh auto;
}

.gallery img {
    width: 23%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    flex-basis: 25%;
    height: auto;
}

@media (max-width:650px){
    .gallery{
        flex-wrap: wrap;
    }
    .gallery img{
        width: 45%;
    }
}
.campus button{
    background-color: #212ea0;
    color: white;
}