footer{
    margin: 10px auto;
}
hr{
    height: 3px;
}
.text {
    padding: 1rem 0;
    font-size: 1rem;
  }
  
  .text ul li {
    display: inline-block;
    margin-left: 1rem;
  }
  
  /*----------------------media query----------------------*/
  
  @media (max-width: 640px) {
    .footer {
      display: block;
      text-align: center;
    }
    .footer ul {
      margin-top: 20px;
    }
    .footer ul li {
      margin-left: 15px;
    }
  }
  