
.programs {
    width: 90%;
    margin: 7rem auto;
  }
  .program {
    flex-basis: 31%;
    position: relative;
  }
  
  .programs img {
    width: 100%;
    border-radius: 1.25rem;
    display: block;
  }
  
  .caption {
    color: white;
    position: absolute;
    background: rgba(0, 15, 152, 0.3);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    border-radius: 1.25rem;
    opacity: 0;
    padding-top: 100%;
    transition: all 0.7s ease;
  }
  .caption img {
    width: 4rem;
  }
  .program:hover .caption {
    opacity: 1;
    padding-top: 0;
  }
  
  .caption p {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
  
  @media (max-width: 768px) {
    .programs {
      flex-direction: column;
    }
    .program {
      flex-basis: 95%;
      margin: 2rem;
    }
  }
  