.testimonials{
    height: auto;
}
.title{
    margin-top: 40px;
    margin-bottom: 80px;
}
.title p{
    font-weight: 600;
    font-size: 1.5rem;
    color: #212ea0;
  }
  .title h2{
    font-size: 2.5rem;
    margin: 0.8rem 0;
    color: #000f38;
    max-width: 45rem;
    text-align: center;
    display: inline;
  }


.arrows{
    background-color: #212ea0;
    border-radius: 50%;
    height: 4.5vw;
    width: 4.5vw;
    padding: 1.5vw;
}
.testimony {
    overflow-x: hidden; 
    height: auto;
    width: 80%;
}
.testimony .slider{
    flex-direction: row;
    width: 200%;
    transform: translateX(0%);
    transition: transform 0.5s ease;
    gap: 30px;
    height: 80%;
    position: relative;
}

.students {
    width: 50%;
    position: relative;
    flex-direction: column;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    align-items: flex-start;
    padding: 2%;
}
.student-info{
    margin-bottom: 20px;
}
.student-info img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid #212ea0;

}
